.o-header {
  display: flex;
  justify-content: space-between;
  margin-top: $spacing-cat;
  margin-bottom: $spacing-gerbil;

  @include medium-breakpoint {
    margin-top: $spacing-horse;
  }

  &--home {
    flex-direction: column;
  }
}

.o-header__title {
  font-size: $font-flea;
  text-decoration: none;
  font-family: $heavy-font;
  font-weight: bold;

  &--large {
    font-size: $font-cat;
    margin-bottom: $spacing-gerbil;

    @include medium-breakpoint {
      font-size: $font-horse;
      margin-bottom: $spacing-cat;
    }
  }
}