@import "./normalize.css";
@import "./settings/breakpoints";
@import "./settings/dimensions";
@import "./settings/wrappers";
@import "./settings/colours";
@import "./settings/typography";

@import "./utils/faux-link";

* {
  font-family: $regular-font;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: $dark-blue;
  color: $white;
  font-size: 14px;
  line-height: 150%;
}

a {
  color: inherit;
  font-family: inherit;
  text-decoration: underline;

  &:hover {
    color: $pink !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heavy-font;

  * + & {
    margin-top: $spacing-cat;
    margin-bottom: $spacing-cat;
  }
}

h1 {
  font-size: $font-dog;

  @include medium-breakpoint {
    font-size: $font-whale;
  }
}

h2 {
  font-size: $font-cat;

  @include medium-breakpoint {
    font-size: $font-horse;
  }
}

h3 {
  font-size: $font-gerbil;

  @include medium-breakpoint {
    font-size: $font-dog;
  }
}

h4 {
  font-size: $font-mouse;

  @include medium-breakpoint {
    font-size: $font-cat;
  }
}

h5 {
  font-size: $font-mouse;

  @include medium-breakpoint {
    font-size: $font-gerbil;
  }
}

h6 {
  font-size: $font-mouse;
}

p {
  line-height: 1.8;

  & + & {
    margin-top: $spacing-gerbil;
  }
}

@import "./components/header";
@import "./components/doc-list";
@import "./components/doc-link";
@import "./components/footer";

@import "./templates/doc";