.o-doc {
  margin-top: $spacing-gerbil;
  padding-top: $spacing-cat;
  border-top: 1px solid $light-blue;

  @include medium-breakpoint {
    padding-top: $spacing-cat;
  }

  h1 {
    color: $green;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $white;
  }
}

.o-doc__header {
  margin-bottom: $spacing-gerbil;
  padding-bottom: $spacing-cat;
  border-bottom: 1px solid $light-blue;

  @include medium-breakpoint {
    margin-bottom: $spacing-dog;
  }
}

.o-doc__heading {
  margin-bottom: $spacing-gerbil;
}

.o-doc__date {
  font-size: $font-mouse;
  color: $pink;
}