@font-face {
  font-family: "JetBrainsMono-Light";
  src: url("./../fonts/JetBrainsMono-Light.ttf");
}

@font-face {
  font-family: "JetBrainsMono-Medium";
  src: url("./../fonts/JetBrainsMono-Medium.ttf");
}

$regular-font: "JetBrainsMono-Light";
$heavy-font: "JetBrainsMono-Medium";
