@font-face {
  font-family: "JetBrainsMono-Light";
  src: url("./../fonts/JetBrainsMono-Light.ttf");
}

@font-face {
  font-family: "JetBrainsMono-Medium";
  src: url("./../fonts/JetBrainsMono-Medium.ttf");
}

$regular-font: "JetBrainsMono-Light";
$heavy-font: "JetBrainsMono-Medium";


$font-flea: 1rem;
$font-mouse: 1.2rem;
$font-gerbil: 1.44rem;
$font-cat: 1.728rem;
$font-dog: 2.074rem;
$font-horse: 2.488rem;
$font-whale: 2.986rem;
